<h1>Lista de estudantes cadastrados:</h1>
<ul>
    {{#obj}}        
            <h2>{{title}} tem {{size}} aluno(s)</h2>
            {{#estudantes}}
                <p>{{name}}</p>
            {{/estudantes}}
    {{/obj}}

   
</ul>

<a href="/">Formulario</a>


